@import "./theming";

mat-form-field {
  width: 100%;

  i {
    cursor: pointer;
  }

  .mat-form-field-prefix {
    margin-right: 8px;
  }

  mat-error {
    font-size: 0.6rem;
  }
}

mat-spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.mat-dialog-container {
  padding: 0 !important;
  position: relative;
  overflow-x: hidden !important;
  overflow-y: auto !important;

  mat-toolbar {
    &.header {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  .container {
    position: relative;
    margin: 15px auto;
    min-height: calc(100% - 94px);
  }
}

.example-spacer {
  flex: 1 1 auto;
}
