<home-slider></home-slider>
<ul>
  <li>
    <strong>Alle pagina’s</strong>
    <ul>
      <li>Header</li>
      <li>Footer</li>
      <li>Cookiemelding </li>
      <li>BreadCrumbs</li>
      <li>Nieuwsbrief aanmelden</li>
    </ul>
  </li>
  <li>
    <strong>Homepagina</strong>
    <ul>
      <li>Slider</li>
      <li>Korte omschrijving</li>
      <li>Overzicht met nieuwste vacatures</li>
      <li>Overzicht laatste nieuwsitems</li>
    </ul>
  </li>
  <li>
    <strong>Over Ons Pagina</strong>
  </li>
  <li>
    <strong>Nieuwspagina</strong>
    <ul>
      <li>Overzicht alle nieuwsitems met introtext</li>
      <li>Item pagina </li>
    </ul>
  </li>
  <li>
    <strong>Vacature overzichtspagina
    </strong>
    <ul>
      <li>Overzicht actieve vacatures </li>
      <li>Vacaturepagina </li>
      <li>Reageer formulier </li>
    </ul>
  </li>
  <li>
    <strong>Contactpagina
    </strong>
    <ul>
      <li>Contactgegevens </li>
      <li>Contactformulier </li>
      <li>Google maps </li>
    </ul>
  </li>
  <li>
    <strong>Admin pagina
    </strong>
    <ul>
      <li>Slider bewerken. </li>
      <li>Aanpassen over ons content </li>
      <li>Vacatures toevoegen, bewerken en/of verwijderen. </li>
      <li>Nieuwsitems toevoegen, bewerken en/of verwijderen. </li>
      <li>Maken van nieuwsbrief. </li>
    </ul>
  </li>
</ul>
